

<% @posts.each do |post| %>

<article class = "post">

  <ul class = "vote">
    <li><a href = "/vote">^^</a></li>
    <li><%= vote_count(post) %> Votes</li>
  </ul>

  <h3><a href = "<%= post.link %>" target = "_blank"><%= post.title %></a></h3>

  <div class = "stats">
    
    <ul>
      <li>By <a href = "/user/<%= user_name(post) %>"><%= user_name(post)  %></a></li>
      
      <li>Posted on <a href = "<%= post.user_id %>"><%= post.created_at.month %> <%= post.created_at.day %>, <%= post.created_at.year %></a></li>

    </ul>

    <a href = "/comments/<%= post.id %>" class = "comment_count"><%= comment_count(post) %> Comment(s)</a>

  </div>

</article>

<% end %>