


<article>
  <div class = "vote">
    <a href = "/vote">Up</a>
  </div>

  <div class = "post">
    <h3><a href = "<%= post.link %>" target = "_blank"><%= post.title %></h3>
    <ul class = "stats">
      <li><a href = "<%= post.user_id %>"><%= post.user_name %></a></li>
      <li><%= post.post_votes %></li>
    </ul>
  </div>

</article>